@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */

body {
  padding-top: 20px;
  padding-left: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 { 
  margin-bottom: 60px;
}